<hr>
<h2>
    Arena anyone?<br>
    which one do you take?
</h2>
<h5>note: images may take a moment to load</h5>
<hr>
<% 3.times do %>

    <% @random_card = show_random_card %>
    <%= link_to (image_tag @random_card.img, style: "height: 400px;"), @random_card %>

<% end %>