<h1>
    I hope you are enjoying your stay.<br>
    I put together this web app with ruby on rails as a learning experience only.<br>
    I do not claim to be the owner of the cards that you see on this site.<br>
    the card illistrations and all meta-data about the cards is owned and operated by Blizzard Entertainment in a game called <%= link_to 'Hearthstone', "http://us.battle.net/hearthstone/en/" %>.<br>
</h1>

<h2>If you have any concerns about the site or would like to know more please add me to your networks</h2>

<h3>
    skype: twoliveanddie<br>
    twitch.tv/toliveanddie76<br>
    steam: twoliveanddie<br>
    bnet battle_tag: toliveanddie<br>
    twitter: NormCantoral<br>
    youtube: Norm Cantoral<br>
</h3>

<h4>the arena card meta scores are from:</h4>
<%= link_to 'The Light Forge', "http://thelightforge.com/API/tierlist/latest?locale=en" %>