

<h1>Welcome to a Hearthstone arena card app!</h1>
<h3>Strictly for the standard arena meta.<br>
    Meta scores, card sets and a full selection simulation.
    <br>
    <% if user_signed_in? %>
        <% if current_user.profile == nil %>
            <hr>
            Please create profile <%= link_to 'here', new_profile_path, class: "btn btn-primary" %>
        <% else %>
            <br>
            <%= link_to 'Go to Arena', new_deck_path, class: "btn btn-info" %>
        <% end %>
    <% else %>
        <hr>
        <h2>New to the site? <%= link_to 'Sign up', new_user_registration_path, class: "btn btn-primary btn-lg" %></h2>
    <% end %>
</h3>

<%= render 'index_partial' %>