<h1>
    Welcome!<br>
    please use the links and buttons to take a look around.<br>
    enjoy !
</h1>

<br>
<hr>
<h3>use this button to see ALL CARDS! <%= link_to 'all cards', cards_path, class: "btn btn-info btn-lg" %></h3>
