@import 'bootstrap-sprockets';
@import 'bootstrap';

#random {
    text-align: center;
}

#index_img {
    text-align: center;
    height: 325px;
}

#float_index {
    float: left;
    text-align: center;
}

.bg-image {
    background-image: image-url("bg4.jpg");
    background-size: cover;
    background-position: center;
}