@import 'bootstrap-sprockets';
@import 'bootstrap';

h3 {
    color: red;
}

strong {
    color: red;
}

#float {
    float: left;
    text-align: center;
}

#random {
    text-align: center;
}

#index_img {
    text-align: center;
    height: 325px;
}