<h1>arena page</h1>
<div class="row">
    <div class="col-md-8">
        <% 3.times do %>
            <% @arena_card = arena_random_card %>
            <%= image_tag @arena_card.img, style: "height: 300px;" %>
        <% end %>
    </div>
    <div class="col-md-4">
        blah blah<br>
        blah blah<br>
        blah blah<br>
        blah blah<br>
        blah blah<br>
        blah blah<br>
        blah blah<br>
        blah blah<br>
        blah blah<br>
        blah blah<br>
        blah blah<br>
        blah blah<br>
    </div>
</div>