<h1>
    Information on the random card generator.
    As close to Hearthstone as I can get it.
</h1>

<h4>
    The first 26 selections have a set rarity drop rate.<br>
    the percentage of a rarity on a drop is as follows.<br>
    <br>
    free: 34 %<br>
    common: 34%<br>
    rare: 20%<br>
    epic: 9%<br>
    legendary: 3%
</h4>
<hr>
<h4>
    Hearthstone also boosts 4 selections to "Rare" or higher.<br>
    I made selections 27-30 as follows.<br>
    <br>
    rare: 62.5%<br>
    epic: 28.1%<br>
    legendary: 9.3%
</h5>
This is easy to understand<br>
imagine an array with 100 slots.  you fill it with 34 Free, 34 Common, 20 Rare, 9 Epic, 3 Legendary<br>
then simply remove the Free and Common. <br>
what you are left with is a 32 slot array...20 Rare, 9 epic, 3 legendary.<br>
hence the above boosted percentages</h5>