<h1>
    Welcome to an arena card selecting simulation!<br>
    All classes are included.<br>
    Click Start when ready
</h1><br>
<hr>

<%= simple_form_for @deck do |f| %>
    <h3><%= f.input :name, label: 'give this deck a name' %></h3><br>
    <%= f.submit "start", class: "btn btn-primary btn-lg" %>
<% end %>