<body class="bg-image">
<br>
<h1>
    Welcome to an arena card selecting simulation!<br>
    This is a "Standard" arena. Only standard cards are used.<br>
    All decks you create can be found in your profile.<br>
    Click on your Hero when ready.<br>
</h1><br>
<h5>if you don't complete a deck. ANYONE can complete it for you!</h5>
<br>

<%= render 'new_partial' %>

</body>