<body class="bg-image">
<br>
<h1>
    Welcome to an arena card selecting simulation!<br>
    This is Standard only and only for practice (sorry).</br>
    All decks you create can be found in your <%= link_to 'Player Profile', current_user.profile, class: "btn btn-info" %><br>
    Added button to show meta scores below the cards.<br>
    Click on a Hero when ready.<br>
</h1><br>
<h5>if you don't complete a deck. ANYONE can complete it for you!</h5>
<br>

<%= render 'new_partial' %>

</body>