<body class="bg-image">
<br>
<h1>
    Welcome to an arena card selecting simulation!<br>
    This is still standard only as the radio buttons don't work yet.</br>
    All decks you create can be found in your profile.<br>
    Click a Hero when ready.<br>
</h1><br>
<h5>if you don't complete a deck. ANYONE can complete it for you!</h5>
<br>

<%= render 'new_partial' %>

</body>