<body class="bg-image">
<br>
<h1>
    Welcome to the arena!<br>
    A standard card selecting simulation.
</h1>
<h3>
    All decks you create can be found in your <%= link_to 'Player Profile', current_user.profile, class: "btn btn-info" %><br>
    Once in the arena, simply click on a card to select it.<br>
    The "show meta score" button will reveal meta score values.<br>
</h3>
<h2 id="chero" class="text-center">Click on hero when ready</h2>
<%= render 'new_partial' %>

</body>